[Unit]
Description=Update Sonarr Database Paths
Before=sonarr.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'cat /home/dez/.config/systemd/custom/replace_windows_paths_with_linux.sql | sudo sqlite3 /var/lib/sonarr/sonarr.db'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

