#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Starsector
GenericName=Starsector
Comment=A single-player sandbox style space role-playing game with strategic elements
Exec=bash /home/dez/Games/Starsector/Kitsunebi.sh
Icon=/home/dez/Games/Starsector/mikohime/ui/s_icon64.png
Terminal=false
Type=Application
Categories=Game;
